transformers~=4.37.2
scikit-learn
joblib~=1.2.0
torch~=2.2.2
wrapt
urllib3
keras
langchain~=0.1.16
tiktoken
faiss-cpu
protobuf
dateparser~=1.2.0
numpy~=1.24.3
requests~=2.31.0
uvicorn
fastapi
starlette